{% include 'header.twig' %}
{% include 'gallery/menu.twig' %}

<div>
    <a href="{{ page.url }}">&laquo;Back</a>
</div>

<h3>Album Info</h3>
<table class="simple-list">
    <tr>
        <td><b>Name</b></td>
        <td>{{ album.name }}</td>
    </tr>
    <tr>
        <td><b>Format</b></td>
        <td>{{ thumbnail_formats[album.format_id].width }}x{{ thumbnail_formats[album.format_id].height }}px</td>
    </tr>
    <tr>
        <td><b>Interpolation</b></td>
        <td>{{ album.interpolation }}</td>
    </tr>
    <tr>
        <td><b>Created</b></td>
        <td>{{ album.created }}</td>
    </tr>
    <tr>
        <td><b>Modified</b></td>
        <td>{{ album.modified }}</td>
    </tr>
</table>

<h3>Images</h3>
<script>
function makeThumbnail(node, wsCmd, imageId, formatId) {
    wc.sendMessage(wsCmd, function(evt) {
        wc._defaultOnMessage.call(wc, evt);

        var data = JSON.parse(evt.data);
        if (!data) return false;
        if (data.error != false) {
            $(node).parent().append("<br><span style='color:red'>Command failed!</span>");
            return false;
        }

        $.get('/api.php?action=add_thumb&image-id=' + imageId + '&format-id=' + formatId
                + '&path=' + encodeURIComponent(wsCmd.arguments.output)
                + '&digest=' + '{{ api.digest.add_thumb }}',
                function (d) {
                    if (d.error) {
                        $(node).parent().append("<br><span style='color:red'>" + d.message + "</span>");
                        return false;
                    }

                    var src = wsCmd.arguments.output
                        .replace(/^.*\/([^\/]+\.[a-z]{3,4})$/, '/uploads/$1');
                    $(node).parent().html("<img src='" + src + "'>");
                }
             );
        return false;
    });
}

function patch(node, imageId, albumId) {
}
</script>
{% for e in album.images %}
<table class="image-list-element">
    <tr>
        <td class="thumbnail-container" style="width:{{ thumbnail_formats[album.format_id].width }}px; text-align: center">
            {% if e.thumbnail %}
            <a class="image-link" href="/uploads/{{ e.filename }}" target="_blank">
                <img src="/uploads/{{ e.thumbnail }}" title="{{ e.filename}}" alt="{{ e.filename}}">
            </a>
            {% else %}
            <strong>No Photo</strong><br>
            <a href="javascript:void(0)"
               onclick='return makeThumbnail(this, {{ e.wscmd|raw }}, {{ e.id }}, {{ album.format_id }})'>Make thumbnail</a>
            {% endif %}<br>
        </td>
        <td style="vertical-align:top">
            <table class="simple-list" style="width: 100%">
                <tr>
                    <td style="width:70px">File</td>
                    <td>
                        <a href="/gallery/image/?id={{ e.id }}">
                            <code>{{ e.filename }}</code>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Modified</td>
                    <td>{{ e.modified }}</td>
                </tr>
                <tr>
                    <td>Created</td>
                    <td>{{ e.created }}</td>
                </tr>
                <tr>
                    <td>Actions</td>
                    <td>
                        <a href="javascript:void(0)"
                           onclick="if (confirm('This will remove the image. Are you sure?')) return imToolsWebUi.deleteObject('/gallery/image/delete.php?id={{ e.id }}', $(this).closest('.image-list-element'))"
                           class="action delete">Delete</a>
                        | <a href="javascript:void(0)"
                            onclick='return patch(this)'>Patch</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% else %}
<p>Album is empty</p>
{% endfor %}
<div style="clear: both"></div>

<script type="text/javascript" charset="utf-8">
$('.image-link').magnificPopup({
    type: 'image',
    mainClass: 'mfp-with-zoom', // this class is for CSS animation below

    zoom: {
        enabled: true, // By default it's false, so don't forget to enable it
        duration: 300, // duration of the effect, in milliseconds
        easing: 'ease-in-out', // CSS transition easing function
            // The "opener" function should return the element from which popup will be zoomed in
            // and to which popup will be scaled down
            // By defailt it looks for an image tag:
        opener: function(openerElement) {
            // openerElement is the element on which popup was initialized, in this case its <a> tag
            // you don't need to add "opener" option if this code matches your needs, it's defailt one.
            return openerElement.is('img') ? openerElement : openerElement.find('img');
        }
    }
});
</script>

{% include 'footer.twig' %}
