{% if albums|length > 0 %}
<table class="album-list">
    <tr>
        <th>Name</th>
        <th>Number of images</th>
        <th>Format</th>
        <th>Interpolation</th>
        <th>Actions</th>
    </tr>
    {% for e in albums %}
    <tr>
        <td><a href="/gallery/album/?id={{ e.id }}">{{ e.name }}</a></td>
        <td>{{ e.n_images }}</td>
        <td>{{ thumbnail_formats[e.format_id].width }}x{{ thumbnail_formats[e.format_id].height }}px</td>
        <td>{{ e.interpolation }}</td>
        <td>
            <a href="javascript:void(0)"
               onclick="if (confirm('This will remove the album with its images. Are you sure?')) return imToolsWebUi.deleteObject('/gallery/album/delete.php?id={{ e.id }}', $(this).closest('tr'))"
               class="delete">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Gallery is empty. You can add some albums here.</p>
{% endif %}
