{% include 'header.twig' %}
{% include 'gallery/menu.twig' %}
{#{{ dump() }}#}

{% for e in album.images %}
<table class="image-list-element">
    <tr>
        <td>
            <a class="image-link" href="/uploads/{{ e.filename }}" target="_blank">
                <img src="/uploads/{{ e.thumbnail }}" title="{{ e.filename}}" alt="{{ e.filename}}"><br>
            </a>
        </td>
        <td>
            <table class="simple-list">
                <tr>
                    <td>File:</td>
                    <td>
                        <a href="/gallery/image/?id={{ e.id }}" target="_blank">
                            <code>{{ e.filename }}</code>
                        </a>
                        <a href="javascript:void(0)"
                           onclick="if (confirm('This will remove the image. Are you sure?')) return imToolsWebUi.deleteObject('/gallery/image/delete.php?id={{ e.id }}', $(this).closest('.image-list-element'))"
                           class="action delete">x</a>
                    </td>
                </tr>
                <tr>
                    <td>Modified:</td>
                    <td>{{ e.modified }}</td>
                </tr>
                <tr>
                    <td>Created:</td>
                    <td>{{ e.created }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script type="text/javascript" charset="utf-8">
$('.image-link').magnificPopup({
    type: 'image',
    mainClass: 'mfp-with-zoom', // this class is for CSS animation below

    zoom: {
        enabled: true, // By default it's false, so don't forget to enable it
        duration: 300, // duration of the effect, in milliseconds
        easing: 'ease-in-out', // CSS transition easing function
            // The "opener" function should return the element from which popup will be zoomed in
            // and to which popup will be scaled down
            // By defailt it looks for an image tag:
        opener: function(openerElement) {
            // openerElement is the element on which popup was initialized, in this case its <a> tag
            // you don't need to add "opener" option if this code matches your needs, it's defailt one.
            return openerElement.is('img') ? openerElement : openerElement.find('img');
        }
    }
});
</script>
{% else %}
<p>Album is empty</p>
{% endfor %}

{% include 'footer.twig' %}
