{% include 'header.twig' %}
{% include 'gallery/menu.twig' %}
<script src="/js/jquery.ui.widget.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/upload.js"></script>

<div>
    <a href="{{ page.url }}">&laquo;Back</a>
</div>

<h3>Album Info</h3>
<table class="simple-list">
    <tr>
        <td><b>Name</b></td>
        <td>{{ album.name }}</td>
    </tr>
    <tr>
        <td><b>Format</b></td>
        <td>{{ thumbnail_formats[album.format_id].width }}x{{ thumbnail_formats[album.format_id].height }}px</td>
    </tr>
    <tr>
        <td><b>Interpolation</b></td>
        <td>{{ album.interpolation }}</td>
    </tr>
    <tr>
        <td><b>Created</b></td>
        <td>{{ album.created }}</td>
    </tr>
    <tr>
        <td><b>Modified</b></td>
        <td>{{ album.modified }}</td>
    </tr>
</table>

<h3>Upload</h3>
{% include 'gallery/image-upload.twig' with {'form_action' : '/gallery/image/add.php'}  %}
<script>
itUploader.init({
    done: function (e, data) {
        var r = data.result,
        url = '/api.php?action=get_image_list_item&image-id=' + Number(r.response.id);

        if (r.error || typeof r.response.id != 'undefined') {
            $.get(url, function (d) {
                $('#images_container').append(d.response);
            });
        }
    }
});
</script>

<h3>Images</h3>
<div id="images_container">
{% for image in album.images %}
{% include 'gallery/image-list-item.twig' %}
{% else %}
<p>Album is empty</p>
{% endfor %}
</div>
<div style="clear: both"></div>

{% include 'footer.twig' %}
