{% include 'header.twig' %}
{% include 'gallery/menu.twig' %}
{#{{ dump() }}#}

{% for e in album.images %}
<table class="image-list-element">
    <tr>
        <td>
            <a href="/gallery/image/?id={{ e.id }}" target="_blank">
                <img src="/uploads/{{ e.thumbnail }}" title="{{ e.filename}}" alt="{{ e.filename}}"><br>
            </a>
        </td>
        <td>
            <table class="simple-list">
                <tr>
                    <td colspan=2><b>{{ e.filename }}</b></td>
                </tr>
                <tr>
                    <td>Modified:</td>
                    <td>{{ e.modified }}</td>
                </tr>
                <tr>
                    <td>Created:</td>
                    <td>{{ e.created }}</td>
                </tr>
                <tr>
                    <td colspan=2>
                        <a href="/gallery/image/?id={{ e.id }}" target="_blank">View</a>
                        |
                        <a href="javascript:void(0)" onclick="return imToolsWebUi.deleteObject('/gallery/image/delete.php?id={{ e.id }}', $(this).parent('.image-list-element:first'))" class="action delete">Delete</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% else %}
<p>Album is empty</p>
{% endfor %}

{% include 'footer.twig' %}
