{% include 'header.twig' %}
{% include 'gallery/menu.twig' %}
{#{{ dump() }}#}
<div>
    <a href="/gallery/album/?id={{ image.album_id }}">&laquo;Back</a>
</div>

<h3>{{ image.filename }}</h3>

<table class="simple-list">
    <tr>
        <td colspan=2>
            <img src="/uploads/{{ image.filename}}" title="{{ image.filename }}" alt="{{ image.filename }}">
        </td>
    </tr>
    <tr>
        <td><b>Created:</b></td>
        <td>{{ image.created }}</td>
    </tr>
    <tr>
        <td><b>Modified:</b></td>
        <td>{{ image.modified }}</td>
    </tr>
    <tr>
        <td colspan=2><a href="/gallery/image/delete.php?id={{ image.id }}"></td>
    </tr>
</div>

{% include 'footer.twig' %}
